@page "/form"
<h3>Form</h3>
<!-- Model - odwołanie do private User user -->
<!-- FormName - jakakolwiek unikatowa nazwa dla formularza -->
<EditForm Model="@user" FormName="UserForm" OnValidSubmit="@HandleValidSubmit">
	<label for="nameInput">Imię: </label>
	<InputText id="nameInput" @bind-value="user.Name" placeholder="Name" />
	<br />
	<label for="emailInput">Adres e-mail: </label>
	<InputText id="emailInput" @bind-Value="user.Email" placeholder="Email" />
	<br />
	<label for="passwordInput">Hasło: </label>
	<InputText id="passwordInput" @bind-Value="user.Password" placeholder="Password" 
		type="password" />
	<br />
	<button type="submit">Wyślij</button>
</EditForm>
<div>
	<h4>Wysłane dane:</h4>
	<p>Imię: @user.Name</p>
	<p>Adres e-mail: @user.Email</p>
	<p>Hasło: @user.Password</p>
</div>
@code {
	//tworzymy sobie instancje naszej klasy do użycia jako model formularza
	[SupplyParameterFromForm(FormName = "UserForm")]
	private User user { get; set; } = new User();

	private void HandleValidSubmit()
	{
		// tutaj możemy dodać logikę do obsługi formularza
		Console.WriteLine("Formularz został wysłany!");
		Console.WriteLine($"Imię: {user.Name}");
	}
}
